<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>
<body>
<header th:replace="fragments/commons::nav"></header>
<main>
    <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark">Add offer</span></h1>
    <hr class="hr-3 w-25 bg-white"/>

    <form
        th:action="@{/offers/add}"
        th:method="POST"
        th:object="${offerDto}"
        class="mx-auto w-25 bg-blur rounded">

        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="description" class="h4 mb-2">Description</label>
            </div>
            <textarea
                th:text="*{description}"
                th:errorclass="bg-danger"
                type="text"
                class="form-control"
                id="description"
                name="description"></textarea>
            <small
            th:if="${#fields.hasErrors('description')}"
            th:each="err : ${#fields.errors('description')}" th:text="${err}"
            class="text-danger"></small>
        </div>

        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="price" class="h4 mb-2">Price</label>
            </div>
            <input
                th:value="*{price}"
                th:errorclass="bg-danger"
                type="number"
                step="0.01"
                class="form-control"
                id="price"
                name="price"/>
            <small
                th:if="${#fields.hasErrors('price')}"
                th:each="err : ${#fields.errors('price')}" th:text="${err}"
                class="text-danger"></small>
        </div>

        <div class="form-group">
            <div class="text-white label-holder d-flex justify-content-center">
                <label for="condition" class="h4 mb-2">Condition</label>
            </div>
            <select
                th:errorclass="bg-danger"
                class="browser-default custom-select"
                id="condition"
                name="conditionName">
                <option value="" selected>Select condition</option>
                <option th:each="offerCondition : ${T(com.pmsoft.reseller.model.enums.OfferCondition).values()}"
                        th:value="${offerCondition}" th:text="${offerCondition.getDescription()}">
            </select>
            <small
                th:if="${#fields.hasErrors('conditionName')}"
                th:each="err : ${#fields.errors('conditionName')}" th:text="${err}"
                class="text-danger"></small>
        </div>

        <div class="button-holder d-flex justify-content-center">
            <button type="submit" class="btn btn-warning  mb-3" value="Register">Add offer</button>
        </div>

    </form>
</main>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>
